@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <p>Teste - Desenvolvedor(a) Jr Asp.Net Mvc                                                            </p>
        <p> Este teste busca avaliar quesitos técnicos necessários para a vaga de Desenvolvedor .NET Júnior.  </p>
        <p>                                                                                                   </p>
        <p> Criar um CRUD de Cliente utilizando ASP.NET MVC e persistência de dados utilizando (EF, Dapper).  </p>
        <p> * Listar cliente                                                                                  </p>
        <p> * Incluir um cliente (Nome, Email, CPF)                                                           </p>
        <p> * Atualizar um cliente                                                                            </p>
        <p> * Excluir um cliente                                                                              </p>
        <p>                                                                                                   </p>
        <p> O que será avaliado                                                                               </p>
        <p> * Conhecimento de ASP.NET MVC, SQL Server                                                         </p>
        <p> * Persistência de Dados (EF, Dapper)                                                              </p>
        <p> * Código Limpo                                                                                    </p>
        <p>                                                                                                   </p>
        <p> Diferencial                                                                                       </p>
        <p> * Refatoração                                                                                     </p>
        <p> * SOLID                                                                                           </p>
        <p>                                                                                                   </p>
        <p> Criar um CRUD de Produtos.                                                                        </p>
        <p> Ao cadastrar um novo cliente, tornar obrigatório relacioná-lo a um produto.                       </p>
        <p> * Listar produto                                                                                  </p>
        <p> * Incluir um produto (Nome, Ativo)                                                                </p>
        <p> * Atualizar um produto                                                                            </p>
        <p> * Excluir um produto                                                                              </p>
        <p>                                                                                                   </p>
        <p> Regras:                                                                                           </p>
        <p> - Não permitir a inclusão de mais de um cliente com o mesmo CPF ou mesmo e-mail                   </p>
        <p> - Não permitir relacionar mais de um cliente ao mesmo produto                                     </p>
        <p> - No cadastro de cliente, não listas produtos inativos para seleção                               </p>
        <p> - Não permitir a exclusão de um produto que esteja relacionado a um cliente                       </p>
        <p>                                                                                                   </p>
        <p> Enviar código via Google Docs, anexo ou GitHub                                                    </p>
    </div>
</div>